
<div class="section alert-warning">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <a href="/cadpesinst"><img src="images\b004.png" class="img-responsive"></a>
                <h1>Cadastrar Pessoas e Instituições</h1>
                <p></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                  <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                  <br>Ut enim ad minim veniam, quis nostrud</p>
                <p></p>
              </div>
              <div class="col-md-6">
                <a href="/livros/new"><img src="images\b006.png" class="img-responsive"></a>
                <h1>Cadastrar Livro</h1>
                <p></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                  <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                  <br>Ut enim ad minim veniam, quis nostrud</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>