<div class="section alert-warning">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal">
          <fieldset>
            <!-- Form Name -->
            <legend>Cadastro Pessoa</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="nameinput">Nome</label>
              <div class="col-md-8">
                <input id="inputnome" name="nameinput" type="text" placeholder="Nome" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="matinput">Matricula</label>
              <div class="col-md-4">
                <input id="inputmatricula" name="matinput" type="text" placeholder="Matricula" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="cpfinput">CPF</label>
              <div class="col-md-4">
                <input id="inputCPF" name="cpfinput" type="text" placeholder="CPF" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="status">Tipo</label>
              <div class="col-md-4">
                <select id="status" name="status" class="form-control">
                  <option value="1">Administrador</option>
                  <option value="2">Usuário</option>
                </select>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="logininput">Login</label>
              <div class="col-md-4">
                <input id="inputlogin" name="logininput" type="text" placeholder="Login" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="senhainput">Senha</label>
              <div class="col-md-4">
                <input id="passwordinput" name="senhainput" type="text" placeholder="Senha" class="form-control input-md" required="">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="senha2input">Repetir Senha</label>
              <div class="col-md-4">
                <input id="password2input" name="senha2input" type="text" placeholder="Senha" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="button1id"></label>
              <div class="col-md-8">
                <button id="buttonCadastrar" name="button1id" class="btn btn-success">Enviar Dados</button>
                <button id="button2idpessoa" name="button2id" class="btn btn-danger">Apagar Tudo</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-horizontal">
          <fieldset>
            <!-- Form Name -->
            <legend>Cadastro Instituição</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="nameinput">Nome</label>
              <div class="col-md-4">
                <input id="nameinput" name="nameinput" type="text" placeholder="Nome" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="endinput">Endereço</label>
              <div class="col-md-8">
                <input id="endinput" name="endinput" type="text" placeholder="Endereço" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="respinput">Responsável</label>
              <div class="col-md-4">
                <input id="respinput" name="respinput" type="text" placeholder="Responsável" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="button1id"></label>
              <div class="col-md-8">
                <button id="button1idinstituicao" name="button1id" class="btn btn-success">Enviar Dados</button>
                <button id="button2idinstituicao" name="button2id" class="btn btn-danger">Apagar Tudo</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>