<h1>Cadastro de Usuarios</h1>

Nome: <input id="inputnome">
<br>
<br>
Matricula: <input id="inputmatricula">
<br>
<br>
CPF: <input id="inputcpf">
<br>
<br>
Login: <input id="inputlogin">
<br>
<br>
Senha: <input id="inputsenha">
<br>
<br>
Status: <input type="radio" name="group1" value="0" id="inputadm">Adminstrador
<input type="radio" name="group1" value="1" id="inputadm">Usuario
<br>
<br>
<button type="submit" id="buttonCadastro">Cadastrar</button>