<div class="section alert-danger">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="images\b001.png" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h1>Uma Biblioteca Para Todos...</h1>
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
          enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
          felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
          elementum semper nisi.</p>
      </div>
    </div>
  </div>
</div>
<div class="section alert-success">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Acessivel de Qualquer Lugar...</h1>
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
          enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
          felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
          elementum semper nisi.</p>
      </div>
      <div class="col-md-3">
        <img src="images\b002.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="section alert-info">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="images\b003.png" class="img-responsive">
      </div>
      <div class="col-md-9">
        <h1>De Facil Organização e Manutenção&nbsp;</h1>
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
          enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
          felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
          elementum semper nisi.</p>
      </div>
    </div>
  </div>
</div>
