<h1>Cadastro de Instituições</h1>

Nome: <input id="inputnome">
<br>
<br>
Endereço: <input id="inputmatricula">
<br>
<br>
Responsavel: <input id="inputcpf">
<br>
<br>
<button type="submit" id="buttonCadastro">Cadastrar</button>