<%= render "form_livro" %>
<div class="container">
  <div class="row">
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>

      <div class="col-md-8">
        <button id="button1idlivro" name="button1id" class="btn btn-success">Enviar Dados</button>
        <button id="button2idlivro" name="button2id" class="btn btn-danger">Apagar Tudo</button>
      </div>
    </div>
  </div>
</div>