<div id="modaleditora" class="modal fade" data-width="760" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Editoras</h4>
  </div>
  <div class="form-group">
    <fieldset>
      <div class="form-group">
      <label class="col-md-4 control-label" for="salvaeditorainput">Editora</label>

      <div class="col-md-4">
        <input id="salvaeditorainput" name="salvaeditorainput" type="text" placeholder="Editora" class="form-control input-md">
      </div>
      <div class="col-md-4">
        <button id="salvaeditora" name="salvaeditora" class="btn btn-primary glyphicon glyphicon-save-file"></button>
      </div>
        </br>
        </div>
     </br>
    </fieldset>
  </div>
      <table id="tableeditoras" cellspacing="0" width="100%" class="table table-striped table-bordered display responsive no-wrap" data-source="<%= editoras_url(format: "json") %>">
        <thead>
        <tr>
          <th>ID</th>
          <th>Editora</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
    <button type="button" id="buttonseleceditora" class="btn btn-success">OK</button>
  </div>
</div>

<div id="modalauthor" class="modal fade" data-width="760" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Autores</h4>
  </div>
  <div class="form-group">
    <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label" for="salvaauthorinput">Autor</label>

        <div class="col-md-4">
          <input id="salvaauthorinput" name="salvaauthorinput" type="text" placeholder="Autor" class="form-control input-md">
        </div>
        <div class="col-md-4">
          <button id="salvaauthor" name="salvaauthor" class="btn btn-primary glyphicon glyphicon-save-file"></button>
        </div>
        </br>
      </div>
      </br>
    </fieldset>
  </div>
  <table id="tableauthors" cellspacing="0" width="100%" class="table table-striped table-bordered display responsive no-wrap" data-source="<%= authors_url(format: "json") %>">
    <thead>
    <tr>
      <th>ID</th>
      <th>Editora</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
    <button type="button" id="buttonselecautor" class="btn btn-success">OK</button>
  </div>
</div>
<div class="section alert-warning">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal">
          <fieldset>
            <!-- Form Name -->
            <legend>Cadastro Livro</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="tituloinput">Titulo</label>

              <div class="col-md-4">
                <input id="tituloinput" name="tituloinput" type="text" placeholder="Titulo" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="anoinput">Ano</label>

              <div class="col-md-4">
                <input id="anoinput" name="anoinput" type="text" placeholder="Ano" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="editorainput">Editora</label>

              <div class="col-md-4">
                <input id="editorainput" name="editorainput" type="text" placeholder="Editora" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
              <div class="col-md-4">
                <button id="addeditora" name="addeditora" class="btn btn-primary glyphicon glyphicon-plus"></button>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="autorinput">Autor</label>

              <div class="col-md-4">
                <input id="autorinput" name="autorinput" type="text" placeholder="Autor" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
              <div class="col-md-4">
                <button id="addautor" name="addeditora" class="btn btn-primary glyphicon glyphicon-plus"></button>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="estanteinput">Estante</label>

              <div class="col-md-4">
                <input id="estanteinput" name="estanteinput" type="text" placeholder="Estante" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="prateleirainput">Prateleira</label>

              <div class="col-md-4">
                <input id="prateleirainput" name="prateleirainput" type="text" placeholder="Prateleira" class="form-control input-md" required="">
                <span class="help-block">Ajuda</span>
              </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="button1id"></label>

              <div class="col-md-8">
                <button id="button1idlivro" name="button1id" class="btn btn-success">Enviar Dados</button>
                <button id="button2idlivro" name="button2id" class="btn btn-danger">Apagar Tudo</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
